body {
    font-family: Arial, sans-serif;
    background-color: rgb(185, 182, 182);
    margin: 0;
    padding: 0;
}

.registration {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(110, 108, 108, 0.7);
}

.label {
    text-align: center;
}

.registration-container {
    padding: 20px;
}

label {
    font-weight: bold;
}

input[type="name1"],
input[type="name2"],
input[type="name3"],
input[type="email"],
input[type="studentid"],
input[type="studentno"],
input[type="address"],
input[type="contact"],
input[type="bday"],
input[type="age"],
input[type="rel"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:#f0eded;
}

select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons-container {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p{
	text-align: center;
	background-color:lightblue;
	color: black;
	margin:10;
	padding:15px;
}