table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px 2px rgba(110, 108, 108, 0.7)
}

th{
    background-color: #2259bf;
    border: 1px solidrgba(179, 177, 177, 0.867);
    padding: 8px;
    text-align: left;
}

tr:nth-child(even){
    background-color: lightblue;
}

td{
    border: 1px solid #dddd;
    padding: 8px;
}